html
    head
        style
            include assets/default.css
            include assets/index.css
            include assets/button.css
        include assets/alerts.pug 

    body
        h1#title EREN
        
        if message
            p #{message}
            button(onclick="home()" class="btn")#home back
        else     

            if logged_in
                a#settings_button(href="/settings")
                    include assets/cog.svg
                    span#settings_button--text SETTINGS
                include includes/dropdown.pug
                div#page_buttons_cont
                    if services.url
                        button#url_button(class="btn threeD page_button" onclick="goto_sub('" + prefix.url +"')") #{prefix.url}
                    if services.image
                        button#image_button(class="btn threeD page_button" onclick="goto_sub('" + prefix.image +"')") #{prefix.image}
                    if services.text
                        button#text_button(class="btn threeD page_button" onclick="goto_sub('" + prefix.text +"')") #{prefix.text}
            else
                include includes/login_window.pug    
                div#opener-container
                    button#opener(onclick="activateLoginWindow(this)" class="btn") Login
                    div#holes
            span#version V#{version}

        script. 

                //Refresh page after login
                login_cb = home;

                function home() {
                    let hostname = window.location.hostname;
                    if (hostname.split(".").length > 2) {
                        let hostname_array = hostname.split(".");
                        hostname_array.shift();
                        hostname = hostname_array.join(".");
                    }
                    location.href = "http://" + hostname;
                }

                function goto_sub(sub) {
                    location.href = `http://${sub}.#{domain}`;
                }
